<nav class="nav flex-column">
    <div class="logo-container">
      <img src="assets/logo.png" alt="Logo" class="logo"> 
    </div>
    <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
    <a class="nav-link" routerLink="/applications" routerLinkActive="active">Applications</a>
    <a class="nav-link" routerLink="/analytics" routerLinkActive="active">Analytics</a>
    <a class="nav-link" routerLink="/configuration" routerLinkActive="active">Configuration</a>
  </nav>
  